/* beginning of reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset */

/* Styles for the whole document */
body {
  background-color: #181818;
  font-family: 'Roboto', sans-serif;
}

/* Styles for the Header */
.yt-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 150px;
}

.header .container {
  width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #202020;
}

.bbar {
  width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 15px;
}

.htext {
  font-family: 'Roboto', sans-serif;
  color: white;
  display: inline;
  margin-left: 2px;
}

#search {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#hamburger {
  color: white;
  height: 50px;
  width: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

/* The Youtube Logo */
.logo {
  height: 30px;
}

/* Search Button */
#sbutton {
  width: 60px;
  height: 32px;
  padding: 10px;
  background: #323232;
  color: #6f6f6f;
  font-size: 17px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Search Bar */
#sbar[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #303030;
  width: 500px;
  height: 10px;
  background: #121212;
}

/* SearchBar Placeholder */
::placeholder {
  color: #818181;
}

/* Navbar Icon Stylign */
.nav-item {
  color: white;
  font-size: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.hnav {
  margin-left: auto;
}

/*Styling for Main Video*/
#main-video {
  padding: 24px;
}

.main-title {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-top: 15px;
}

#main-views {
  color: #aaaaaa;
  font-size: 14px;
  /* margin-right: auto; */
}

/* Icons Container*/
#bbar-icons {
  margin-left: 280px;
  display: flex;
  align-items: center;
}

/* Individual Icons */
.bbar-item {
  color: #aaaaaa;
  font-size: 20px;
  margin-left: 7px;
}

.bbar-icon {
  color: #aaaaaa;
  font-size: 20px;
  margin-left: 15px;
}

.divider {
  margin-right: 422px;
}

/* Sidebar Stylings*/
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 425px; /* Set the width of the sidebar */
  position: fixed; /*Fixed Sidebar (stay in place on scroll)*/
  z-index: 1; /* Stay on top */
  top: 50px;
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  /* background-color: purple; */
}

.side-header {
  color: white;
  margin-top: 5px;
}

.side-text {
  color: white;
  font-size: 15px;
}

.side-sub {
  color: #717171;
  font-size: 13px;
}

/* Side Videos Styling */
.wrapper {
  display: grid;
  margin-top: 15px;
  margin-bottom: 15px;
  grid-template-columns: 175px 200px;
  grid-template-rows: 100px;
}

.sidewrapper {
  display: grid;
  grid-template-rows: 40px 40px 32px;
}

.box1 { 
  grid-column-start: 1; 
  grid-column-end: 2; 
  grid-row-start: 1; 
  grid-row-end: 2; 
}

.box2 { 
  grid-column-start: 2; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 2; 
}

.top {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.mid {
  margin-top: 10px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.bot {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 4;
}

.side-vid {
  width: 168px;
}

.side-div {
  margin-right: 20px;
  color: #303030;
}

